.movie-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.movie-details > img {
  border-radius: 10px;
  object-fit: cover;
}

.movie-info {
  line-height: 2rem;
  font-size: 1 rem;
}

.movie-tagline {
  font-size: 1 rem;
  font-weight: 400;
  color: rgb(232, 232, 232);
}

.movie-genre span {
  border: 1px solid rgb(56 189 248);
  font-weight: 500;
  font-size: 12px;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 20px;
}

.analytics {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.data-point:first-child img {
  margin-left: 5px;
}

.analytics img {
  width: 25px;
  height: 25px;
}

.data-point p:nth-child(1) {
  display: flex;
  align-items: center;
  color: rgb(56 189 248);
}

.data-point p:nth-child(2) {
  font-size: 0.9rem;
  opacity: 0.75;
  margin-bottom: 1rem;
  padding: 0;
}

.movie-overview {
  margin-top: 2rem;
}
