.movie-details {
  width: 100vw;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: white;
}

.movie-details > img {
  margin: 0 2rem;
  height: 500px;
  border-radius: 10px;
}

.title {
  font-size: 2rem;
}

.movie-info {
  padding: 0 2rem;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 1 rem;
  text-align: justify;
}

.analytics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  padding: 10px 0;
  color: #79b8f3;
}

.analytics h3 {
  padding: 1rem 0;
}

@media screen and (max-width: 600px) {
  .movie-details {
    display: flex;
    flex-direction: column;
  }
}
