{
  "env": {
    "es6": true
  },
  "extends": ["plugin:import/typescript", "prettier"],
  "plugins": [
    "react",
    "prettier",
    "react-hooks",
    "import",
    "folders",
    "filenames"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/extensions": [".js", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".js", ".ts", ".tsx"]
    },
    "import/resolver": {
      "babel-module": {},
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      },
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  },
  "rules": {
    // "import/extensions": [
    //   "error",
    //   "ignorePackages",
    //   {
    //     "js": "never",
    //     "jsx": "never",
    //     "ts": "never",
    //     "tsx": "never"
    //   }
    // ],
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "printWidth": 100
      },
      {
        "usePrettierrc": true
      }
    ],
    "spaced-comment": "warn",
    "no-process-exit": "off",
    "consistent-return": "off",
    "func-names": "off",
    "no-console": "warn",
    "object-shorthand": "off",
    "no-param-reassign": "off",
    "no-return-await": "off",
    "no-underscore-dangle": "off",
    "no-unsafe-optional-chaining": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "default-param-last": "off",
    "no-plusplus": "off",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "req|req|next|val|resovle|reject" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],
    /* import rules */
    "import/no-duplicates": "error",
    "import/first": "error",
    "import/order": "error",
    "folders/match-regex": [2, "^[a-z-]+$", "/src/"],
    "filenames/match-regex": [2, "^[a-z-]+$", true]
  }
}
